body {
  margin: 0;
  background-color: #f8f8ff;
}

/* Reusables */

/* folosim clasa ca sa aliniem si centram tot contentul paginii de sus pana jos */
.container {
  margin: 0 auto; /* Centrarea blocului in mijlocul paginii */
  max-width: 1500px; /* La dimensiuni mari ale ecranului, pastreaza max-width */
  width: 80%; /* Ca sa nu mai avem nevoie sa setam un padding fix */
}

/* ----- Main Navigation Bar ----- */

.navbar__background {
  background-color: rgb(255, 255, 255);
  padding: 15px 0;
}

.navbar {
  display: flex;
  align-items: center; /* Aliniere elemente */
  justify-content: space-between; /* Spatiu intre elemente */
  flex-grow: 1; /* La dimensiuni mici, navbarul se micsoreaza */
}

.navbar .logo {
  width: 175px;
  margin-left: 50px;
}

.navbar input {
  margin: 0 30px;
  padding: 13px 15px;
  width: 60%;
  border-radius: 50px;
  border-style: solid;
  border-color: rgb(0, 98, 255);
  font-size: 18px;
}

.navbar__btns {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between; /* Spatiu intre elemente */
  align-items: center;
}

.navbar__btns button {
  list-style: none;
}

.navbar__btns .favorite,
.navbar__btns .basket {
  display: flex;
  padding-left: 10px;
}

/* ----- Content ----- */

.test-content {
  height: 1000px;
  text-align: center;
  line-height: 1000px;
}

/* ----- Footer ----- */

/* Footerul o sa se dea in jos atunci cand avem content in pagina */

.footer {
  background-color: lightgray;
  padding: 2rem 0; /* Avem nevoie de spatiu doar sus si jos, in laterale avem deja */
}

.footer__columns {
  display: flex; /* ca sa pot folosi justify */
  justify-content: space-between; /* Ca sa am acelasi spatiu intre elemente(coloane) */
}

.footer__column {
  list-style: none; /* Sa scapam de bullet points */
  padding: 0; /* ul are padding default */
  margin: 0; /* ul are margin default */
  display: inline-block; /* Am facut coloanele sa fie blocuri, altfel le punea una sub alta si fiecare linie de text lua toata linia */
}

/* Copyright */

.copyright {
  text-align: center; /* Centreaza textul */
  margin: 0;
  background-color: #c4c4c4;
  color: rgb(4, 4, 4);
}

/* Profile*/

/* Profile button*/
.profile_main_button {
  background-color: #04aa6d;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

/* Profile dropdown div*/
.profile_dropdown {
  position: relative;
  display: inline-block;
}

/* Profile dropdown content div*/
.profile_dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Buttons inside the dropdown*/
.profile_dropdown_content button {
  color: black;
  padding: 0 2rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown buttons on hover */
.profile_dropdown_content button:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.profile_dropdown:hover .profile_dropdown_content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.profile_dropdown:hover .profile_main_button {
  background-color: #3e8e41;
}

/* First section */
.sec-1 {
  display: flex;
  margin-bottom: 2em;
}

/* Left navbar */
.left_navbar {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.left_navbar__title {
  font-weight: bold;
  padding-left: 25px;
  padding-top: 20px;
  font-size: 1.1rem;
  color: #818181;
}

.left_navbar a {
  white-space: nowrap;
  padding: 1.1em 1.5em;
  text-decoration: none;
  font-size: 0.85rem;
  color: #818181;
  display: block;
}

.left_navbar a:hover {
  color: #000000;
}

/* Banner */
.banner {
  color: rgb(78, 78, 78);
  text-align: center;
  font-size: 2rem;
  /* ^^^ temp ^^^ */
  width: 100%;
  background-color: rgb(58, 58, 58);
}

/* Slider: Best selling products */

.sliderBar1-wrap {
  height: 300px;
  border: 1px solid black;
  cursor: grab;
}

.sliderBar1 {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.sliderBar1::-webkit-scrollbar {
  display: none;
}

.sliderBar1-inner {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 3000px;
}

.sliderBar1-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 98%;
  top: 1%;
  border: 1px solid #000000;
  background-color: #d3d2d2;
}

.sliderBar1-progress-bar {
  height: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.sliderBar1-prog-bar-inner {
  width: 0%;
  height: 100%;
  background-color: #383838;
}
