body {
  margin: 0;
}

/* Reusables */

/* folosim clasa ca sa aliniem si centram tot contentul paginii de sus pana jos */
.container {
  margin: 0 auto; /* Centrarea blocului in mijlocul paginii */
  max-width: 900px; /* La dimensiuni mari ale ecranului, pastreaza max-width */
  width: 80%; /* Ca sa nu mai avem nevoie sa setam un padding fix */
}

/* ----- Main Navigation Bar ----- */

.navbar__background {
  background-color: lightblue;
  padding: 7px 0;
}

.navbar {
  display: flex;
  align-items: center; /* Aliniere elemente */
  justify-content: space-between; /* Spatiu intre elemente */
  flex-grow: 1; /* La dimensiuni mici, navbarul se micsoreaza */
}

.navbar .logo {
  width: 135px;
}

.navbar__btns {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between; /* Spatiu intre elemente */
}

.navbar__btns button {
  list-style: none;
}

button {
  /* Reglat dimensiuni si forma butoane */
  display: block;
  padding: 5px 5px;
  border-radius: 5px;
}

/* ----- Content ----- */

.test-content {
  height: 1000px;
  text-align: center;
  line-height: 1000px;
}

/* ----- Footer ----- */

/* Footerul o sa se dea in jos atunci cand avem content in pagina */

.footer {
  background-color: lightgray;
  padding: 2rem 0; /* Avem nevoie de spatiu doar sus si jos, in laterale avem deja */
}

.footer__columns {
  display: flex; /* ca sa pot folosi justify */
  justify-content: space-between; /* Ca sa am acelasi spatiu intre elemente(coloane) */
}

.footer__column {
  list-style: none; /* Sa scapam de bullet points */
  padding: 0; /* ul are padding default */
  margin: 0; /* ul are margin default */
  display: inline-block; /* Am facut coloanele sa fie blocuri, altfel le punea una sub alta si fiecare linie de text lua toata linia */
}

/* Copyright */

/* Te las pe tine sa modifici aici si sa vezi care e problema */

.copyright {
  position: fixed; /* Fixeaza textul jos */
  bottom: 0; /* Fixeaza textul jos */
  text-align: center; /* Centreaza textul */
  width: 100%; /* Centreaza textul */
}
