body {
  margin: 0;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth__container {
  margin: 125px 0;
  width: 425px;
  background-color: white;
  padding: 50px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.auth__container button {
  width: 100%;
  border: none;
  padding: 13px 20px;
  border-radius: 50px;
  font-size: 20px;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__heading {
  padding-bottom: 60px;
  font-family: Helvetica;
  font-size: 40px;
  color: rgb(145, 145, 145);
}

.auth__input-pair {
  display: flex;
  justify-content: space-between;
}

.auth__input-pair div {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.auth label {
  font-family: Roboto;
  font-size: 19px;
}

.auth input {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 13px 20px;
  border-radius: 50px;
  border-style: solid;
  border-color: rgb(218, 218, 218);
  box-sizing: border-box;
  width: 100%;
}

.auth__btn--continue {
  margin-top: 10px;
  background-color: rgb(56, 101, 247);
  color: white;
}

.auth__separator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: rgb(150, 150, 150);
  margin: 30px 0;
}

.auth__separator hr {
  width: 45%;
  margin: auto 0;
  border-color: rgb(201, 200, 200);
  border-top: 0;
}

.auth__btn--switch-state {
  background-color: rgb(50, 50, 50);
  color: white;
}

.auth__btn--continue:hover {
  background-color: rgb(48, 86, 210);
}

.auth__btn--switch-state:hover {
  background-color: rgb(30, 30, 30);
}