/* Slider: Best selling products */

.sliderBar1-wrap {
  height: 300px;
  border: 1px solid black;
  cursor: grab;
}

.sliderBar1 {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.sliderBar1::-webkit-scrollbar {
  display: none;
}

.sliderBar1-inner {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 3000px;
}

.sliderBar1-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 98%;
  top: 1%;
  border: 1px solid #000000;
  background-color: #9cf1f3;
}

.sliderBar1-progress-bar {
  height: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.sliderBar1-prog-bar-inner {
  width: 0%;
  height: 100%;
  background-color: #383838;
}
